<%#= raise debug @blogsmember.inspect %>
<div id="box">
<h3>Blogs List </h3>
<table>
  <thead>
	<%	if flash[:notice] != nil  %>
    <tr>
      <th colspan="4"><%= flash[:notice] %></th>
    </tr>
	<%	end  %>
    <tr>
      <th>Subject</th>
      <th>Created By</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @blogsmember.each do |b| %>
      <tr>
        <td><%= b.subject %></td>
        <td><%= b.member.username %></td>       
        <td><%= link_to 'Edit', edit_blog_path(b) %></td>
        <td><%= link_to 'Destroy', b, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
</div>





