<#%=  debug @blogs %>



<div id="box">
<h3>Blogs List </h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |m| %>
	
	

      <tr>
        <td><%= m.username %></td>
        <td><%= m.blogs.first.subject %>

<#%=  debug  m.blogs.inspect %>
</td>
        <td><%= link_to 'Show', m %></td>
        <td><%= link_to 'Edit', edit_blog_path(m) %></td>
        <td><%= link_to 'Destroy', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
</div>





