	
<%#= form_for @admin, html: {action: "/admin/login", id: "form", remote: true}   do |m| %>

<%= form_for(@admin, :url => :hsadmin, html: {id: "form", remote: true}) do |m|%>
<%#= @admin.each  do |m| %>
			<%#  if @ssHasMessage.length > 0  %>
			<label>&nbsp;</label><span class="red"><%= @ssHasMessage %></span>
			<br/><br/>
			<%# end  %>

				<%= m.label :username %>
				<%= m.text_field :username, :tabindex => "1", :value => params['username'] %>
				<% if @admin.errors[:username].any? %>
			 		<label>&nbsp;</label><%= @admin.errors[:username].first %>
		       	<% end %>
                <br />

				<%= m.label :password %>
			 	<%= m.password_field :password %>
				<% if @admin.errors[:password].any? %>
			 		<label>&nbsp;</label><%= @admin.errors[:password].first %>
		       	<% end %>
                <br />                        


          
            <label for="">&nbsp;</label>

	<%= submit_tag  "Sign In", :tabindex => "Sign In", :alt => "1", :title => "Sign In", :name => "ssSubmit", :id => "ssSubmit", :style => "cursor:pointer"  %>
	<br>					
	</form>
		<%  end %>
