	<div id="container">

    	<div id="header">
        	<h2>Administrator</h2>

    		<div id="topmenu">
				<ul>
                  <li class='<%=  params[:controller] == "members" ? "current" : ""  %>'><%= link_to 'Members', members_path %></li>
                  <li class='<%=  params[:controller] == "blogs" ? "current" : ""  %>'><%= link_to 'Blogs', blogs_path %></li>
                    <li><a href="#">Comments</a></li>
              	</ul>
		
          </div>

      </div>



<!--
        <div id="top-panel">
            <div id="panel">
                <ul>
			<li><a href="#adduser" class="useradd">Add user</a></li>
			<li><a href="#" class="group">User groups</a></li>
            		<li><a href="#" class="search">Find user</a></li>
                    	<li><a href="#" class="online">Users online</a></li>
                </ul>
            </div>
      </div>
-->


        <div id="wrapper">
            <div id="content">
              <%= yield %>  
            </div>

<!-- 			<#% if is_admin_authenticate == 'Yes' %>         -->
        <div id="sidebar">
		<%= render "layouts/admin_rightsidebar" %>        
        </div>
<!-- 			<#% end %>      -->
      </div>


	<!-- 	<#% if is_admin_authenticate == 'Yes' %> -->
        <div id="footer">
		<%= render "layouts/admin_footer" %>   
        </div>
	<!-- 	<#% end %>  -->
</div>

